<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

<f:view contentType="text/html" id="fview">

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Page template with PrimeFaces</title>
	<ui:debug />
	<f:metadata>
		<ui:insert name="metadata" />
	</f:metadata>

	<h:head>
		<h:outputStylesheet library="css" name="style.css" />

		<p:ajaxStatus onstart="PF('statusDialog').show()"
			onsuccess="PF('statusDialog').hide()" />

		<p:dialog modal="true" widgetVar="statusDialog" showHeader="false"
			draggable="false" closable="false" resizable="false" visible="false"
			position="center" maximizable="false" minimizable="false">
			<p:graphicImage value="#{resource['images/ajax-loader.gif']}" />
		</p:dialog>

	</h:head>

	<h:body onload="PF('statusDialog').hide()">
		<p:layout fullPage="true" resizeTitle="resize"
			style="background-color:#FFFFFF;">
			<p:layoutUnit position="north" size="88" id="north">
				<ui:include src="/layout/header.xhtml" />
			</p:layoutUnit>

			<p:layoutUnit position="west" id="west" resizable="false"
				header="#{msg['menu.title']}" style="height:580px;overflow:hidden;"
				size="225">
				<ui:include src="/layout/menu.xhtml" />
			</p:layoutUnit>

			<p:layoutUnit styleClass="layoutUnitCenter" position="center">
				<!-- 
				<h:form id="centerForm">
					<p:messages autoUpdate="true" id="msgs" showDetail="true"
						showSummary="true" />
					<ui:insert name="content" />
				</h:form>

 -->
				<ui:insert name="content" />
			</p:layoutUnit>

			<p:layoutUnit position="east" size="0"
				style="width:0px; display:none;" id="east">
			</p:layoutUnit>

			<p:layoutUnit position="south" resizable="true" id="south">
				<ui:include src="/layout/footer.xhtml" />
			</p:layoutUnit>
		</p:layout>

	</h:body>

</f:view>
</html>